.btnlg {
	font-size: 36px;
	border-radius: 10px;
}
.ptable {
	width: 940px;
	height: 100px;
}
.textbox {
  text-align: center;
}
.btnsm {
  font-size: 14px;
  float: left;
  border-radius: 20px;
  padding: 6px 17px;
}