body {
  background-color: #F8F8F8;
}

input, textarea {
  color: #000000;
}

input, textarea {
  border-color: #E0E0E0;
}

input {
  width: 170px;
}

.active {   /*Focus Nav Color*/
  background-color: #1A74BA;
  
}

nav{ /* assigning the top bar to the entire navbar div element */
  text-align: center;
  border: 0 !important;
  box-shadow: inset 0px 7px 0px #FFBF00; /* initial gray color to the top bar */ 
  background-color: #1992D4;
  padding: 0;
}
.nav li.active a:hover,
.nav li.active a:focus {
  color: #FFFFFF;
  background-color: #AAA;
  box-shadow: inset 0px 6px 0px #000; /* switch to a darker color on hover */
}
.nav li.active a,
.nav li.active a:hover,
.nav li.active a:focus {
  color: #FFFFFF;
  background-color: #1A74BA;
  box-shadow: inset 0px 6px 0px #AAA; /* switch to a lighter color for active element */
}
 
/*.nav li.active a,
.nav li.active a:hover{
color: white;
background-color: gray;
border-top: 6px solid darkgray;
}*/

/*.nav li.active a:hover {
  background-color: #1A74BA;
  color: #FFFFFF;
}*/

nav a {
  color: #FFFFFF;
}

.nav li > a:hover {
  background-color: #1992D4;
  border-color: #FFFFFF;
}

.btn-default {
  background-color: #1992D4;
  color: #FFFFFF;
  border-color: #1992D4;
}

.btn-default:focus {
  color: #1A74BA;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #FFFFFF;
  background-color: #1A74BA;
  border-color: #1A74BA;
}

.btnlg {
	font-size: 36px;
	border-radius: 10px;
}

.ptable {
  background-color: white;
	width: 940px;
	height: 100px;
}

.ptable th,
.ptable td {
  text-align: center;
}

.btnr {
  float: right;
}

.btnl {
  float: left;
}

.btnsm {
  font-size: 14px;
  border-radius: 20px;
  padding: 6px 14px;
}

#correction-form textarea {
  width: 100%;
}

.txt-active {
  text-align: center;
  font-size: 15px;
  color: red;
}