.btnlg {
	font-size: 36px;
	border-radius: 10px;
}
.ptable {
	width: 940px;
	height: 100px;
}
.textbox {
  text-align: center;
}
.btnmed {
  font-size: 13px;
  float: left;
  border-radius: 10px;
  padding: 8px 48px;
}
.small {
  font-size: 12px;
}
.med {
  font-size: 16px;
}